# Database
DB_HOST=db
DB_USER=root
DB_PASS=123456
DB_NAME=cd_store
DB_PORT=3306

# JWT
JWT_SECRET=daylasecretkeyratmanhcanphaithekyhon
JWT_REFRESH_SECRET=daylarefreshsecretconmanhhon
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

# SMTP (Mailtrap Sandbox)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=YOUR_MAILTRAP_USER
SMTP_PASS=YOUR_MAILTRAP_PASS
EMAIL_FROM=no-reply@cdstore.com

# Payment (Stripe Sandbox)
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...

# Client URL (cho email reset pass)
CLIENT_URL=http://localhost:3000